</br>
<div class="formy">
	<%= form_for(:crypto, url: result_path) do |f| %>
    	<%= f.collection_select :name, Crypto.order(:name), :name, :name, :include_blank => true %>
		<%= f.submit "Afficher", class:"btn btn-sm btn-primary" %>
	<% end %>
</div>

</br>
<small id="emailHelp", class="form-text text-muted">Dernière mise à jour : <%= @date %></small>
</br>

<% @cryptos.each do |crypto| %>
<ul>
    <li><%= crypto.name %> : <%= crypto.price %> $</li>
</ul>
<% end %>

